@tailwind base;
@tailwind components;
@tailwind utilities;


.loading-new-images-container {
    padding: 70px;
    margin: auto;
    text-align: center;
    font-family: 'Orelega One', cursive;
    font-size: 30px;
    color: #bfaefc;
}